---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Values.name }}
spec:
  replicas: {{ .Values.replicas }}
  selector:
    matchLabels:
      name: {{ .Values.name }}
  template:
    metadata:
      labels:
        name: {{ .Values.name }}
    spec:
      serviceAccountName: {{ .Values.name }}
      containers:
        - name: {{ .Values.name }}
          image: {{ printf "%s:%s" .Values.image.repository .Values.image.tag | quote }}
          command:
          - {{ .Values.name }}
          imagePullPolicy: Always
          env:
            # default
            - name: WATCH_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: OPERATOR_NAME
              value: {{ .Values.name }}
            # custom
            - name: LASTPASS_USERNAME
              valueFrom:
                secretKeyRef:
                  name: lastpass-master-secret
                  key: username
            - name: LASTPASS_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: lastpass-master-secret
                  key: password
